.banner{
    position: absolute;
    right: 40px;
    top: 0px;
    width: 700px;
    height: 900px;
    margin-top: -330px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}
.searchButton{
    width: 141px;
    height: 55px;
    position: absolute;
    right: 141px;
    top: 0px;
}
*:focus{
    outline: none;
}
.search-btn:hover {
    color: #FF2625 !important;
    border: 1px solid #FF2625 !important;
}
:link ,:visited{
    text-decoration: none;
    color: black;
}
.ul li:hover{
 border-bottom: 5px solid #B8010C
}
.ul{
    line-height: 2rem;
    flex-wrap: wrap;
    outline: none;
    list-style: none;
    font-size: 28px;
    display: flex;
 justify-content: space-between;
    flex-direction: row;
    gap: 45px;
}@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body
{
    font-family: 'Roboto', sans-serif;
}
a
{
    text-decoration: none;
}
.product-card:hover{
    transform: scale(1.02,1.02);
}
.product-card {
    transition: 0.8s;
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: #B8010C;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    margin-top: 10px;
    font-size: 22px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 18px;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    transition: 0.7s;
    text-align: center;
}
.product-links:hover {
    transform:scale(1.1,1.1);
    cursor: pointer;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}

@media screen and (max-width:1200px) {
    .banner {
        position: absolute;
       opacity: 0.3;
       width: 200px;
       height: 300px;
        top: 350px;
    }
}
@media screen and (max-width:400px) {
    .product-price {
        font-size: 18px;
        font-weight: 500;
    }
    
    .product-price small {
        font-size: 15px;
        font-weight: 300;
       
    }
    .ul{
        
        line-height: 2rem;
        flex-wrap: wrap;
        outline: none;
        list-style: none;
        font-size: 20px;
        display: flex;
     justify-content: space-evenly;
        flex-direction: row;}
    .cart_span{
        position: absolute;
        top: 20px;
        left: 32px;
    }
    .product-card {
        width: 270px;
        margin: 20px auto;
        background: #fafafa;
    }
}
